@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }

/* WebKit (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;     /* hide scrollbar but allow scroll */
  -ms-overflow-style: none;  /* IE 10+ */
}